<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/loader.ejs') %>


    <div class="mt-5 text-center" data-aos="fade-right">
      <p class="h1 mt-5">Bienvenue chez Cloud Machine !</p>
    </div>

    <%- include('../partials/footer.ejs') %>
    <%- include('../asset/js/token_management.ejs') %>



  </body>

</html>
