<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/loader.ejs') %>


    <div class="mt-5 text-center" data-aos="fade-right">
      <p class="h1 mt-5">Bienvenue USER !</p>
    </div>





    <script>
        const token = window.localStorage.getItem('token');

        console.log(token);
    </script>
    <%- include('../asset/js/logout.ejs') %>
    <%- include('../asset/js/route_secure.ejs') %>
    <%- include('../partials/footer.ejs') %>





  </body>

</html>
